[Desktop Entry]
Encoding=UTF-8
Name=TsunamiLab
Type=Link
URL=http://localhost/
Icon=/home/jose/repos/tsunamilab/leap-launcher/frontend/public/TSUNAMILAB_icon.svg