body {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);;
}

.App {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

circle {
  transition: 0.5s linear;
}

.header {
  font-size: large;
  color: var(--primary-text-color);
  font-weight: 500;
}
