body {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);;
}

.App {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

circle {
  transition: 0.5s linear;
}

.header {
  font-size: large;
  color: var(--primary-text-color);
  font-weight: 500;
}


.subtitle {
  margin-top: 0.5em;
  animation-name: blink;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}


@keyframes blink {
  0% {color: var(--primary-text-color);}
  50% {color: hsl(188, 88%, 40%); }
  100% {color: var(--primary-text-color);}
}


.serversStatus {
  /* display: flex;
  flex-direction: column; */
  margin-top: 1em;
}
.serverRow {
  display: flex;
  flex-direction: row;
  margin-top: 0.2em;
}
.circle {
  background-color: var(--primary-text-color);
  width: 1em;
  height: 1em;
  border-radius: 1em;
  margin-right: 0.3em;
}

.failed {
  background-color: var(--tertiary-color);
}

